<div class="m-0 d-flex flex-column align-items-center">
  <h1>URL Shortner</h1>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
  <form class="col-5">
    <div class="mb-3 mt-5">
      <input type="text" class="form-control" placeholder="Input URL here">
    </div>
    <div class="shorten mt-3 text-center">
      <button type="submit" class="btn btn-outline-primary mx-auto" style="width: 250px">Shorten</button>
    </div>
  </form>
</div>